[submodule "event-graph-walker"]
	path = deps/event-graph-walker
	url = https://github.com/dowdiness/event-graph-walker.git
[submodule "loom"]
	path = deps/loom
	url = https://github.com/dowdiness/loom.git
[submodule "svg-dsl"]
	path = deps/svg-dsl
	url = https://github.com/dowdiness/svg-dsl.git
[submodule "graphviz"]
	path = deps/graphviz
	url = https://github.com/dowdiness/graphviz.git
[submodule "order-tree"]
	path = deps/order-tree
	url = https://github.com/dowdiness/order-tree.git
[submodule "alga"]
	path = deps/alga
	url = https://github.com/dowdiness/alga.git
[submodule "rabbita"]
	path = deps/rabbita
	url = https://github.com/dowdiness/rabbita.git
